<footer class='bg-[#EBF5FF] h-[367] mt-[152] px-6'>
    <div
        class='container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col justify-between'
    >
        <div class=''>
            <a class='flex items-center mb-4 md:mb-0 cursor-pointer'>
                <img
                    src='/img/logo.png'
                    class='w-[50] h-[50] rounded-full border-2'
                />
                <span class='ml-3 font-bold text-4xl text-primary'>Logo</span>
            </a>
        </div>
        <div
            class='min-w-[100] min-h[60] flex flex-col sm:ml-auto sm:mt-0 mt-4 justify-center items-center sm:justify-start'
        >
            <p class='text-sm font-bold text-primary'>Follow us</p>
            <div class='flex mt-4'>
                <a class='text-primary cursor-pointer'>
                    <svg
                        fill='currentColor'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        stroke-width='2'
                        class='w-8 h-8'
                        viewBox='0 0 24 24'
                    >
                        <path
                            d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z'
                        ></path>
                    </svg>
                </a>
                <a class='ml-3 text-primary cursor-pointer'>
                    <svg
                        fill='none'
                        stroke='currentColor'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        stroke-width='2'
                        class='w-8 h-8'
                        viewBox='0 0 24 24'
                    >
                        <rect
                            width='20'
                            height='20'
                            x='2'
                            y='2'
                            rx='5'
                            ry='5'
                        ></rect>
                        <path
                            d='M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01'
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>