<header class='h-[75] text-white bg-primary flex'>
    <div class='w-full flex flex-wrap mx-24 flex-col md:flex-row items-center'>
        <a class='flex items-center mb-4 md:mb-0 cursor-pointer'>
            <img
                src='/img/logo.png'
                class='w-[50] h-[50] rounded-full border-2'
            />
            <span class='ml-3 font-bold text-4xl'>Logo</span>
        </a>
        <nav
            class='md:ml-auto flex flex-wrap items-center text-xl font-bold justify-center'
        >
            <a class='mr-6 cursor-pointer'>Giới thiệu</a>
            <a class='mr-6 cursor-pointer'>Gợi ý môn học</a>
            <a class='mr-6 cursor-pointer'>Danh sách môn mở</a>
            <a class='cursor-pointer'>Đánh giá tâm lý</a>
        </nav>
        <a class='flex items-center ml-10 mb-4 md:mb-0 cursor-pointer'>
            <img
                src='/img/logo.png'
                class='w-[50] h-[50] rounded-full border-2'
            />

            <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                class='w-8 h-8'
                viewBox='0 0 24 24'
            >
                <path d='M6 9l6 6 6-6'></path>
            </svg>
        </a>
    </div>
</header>