<header class='h-[85] text-white bg-primary'>
    <div class='flex flex-wrap p-5 mx-6 flex-col md:flex-row items-center'>
        <a class='flex items-center mb-4 md:mb-0'>
            <img
                src='/img/logo.png'
                class='w-[50] h-[50] rounded-full border-2'
            />
            <span class='ml-3 font-bold text-4xl'>Logo</span>
        </a>
        <nav
            class='md:ml-auto flex flex-wrap items-center text-2xl font-bold justify-center'
        >
            <a class='mr-6'>Giới thiệu</a>
            <a class='mr-6'>Gợi ý môn học</a>
            <a class='mr-6'>Danh sách môn mở</a>
            <a>Đánh giá tâm lý</a>
        </nav>
        <a class='flex items-center ml-10 mb-4 md:mb-0'>
            <img
                src='/img/logo.png'
                class='w-[50] h-[50] rounded-full border-2'
            />

            <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                class='w-8 h-8'
                viewBox='0 0 24 24'
            >
                <path d='M6 9l6 6 6-6'></path>
            </svg>
        </a>
    </div>
</header>