<section class='text-gray-600 body-font mt-14 mb-20'>
    <div class='container px-24 mx-auto flex flex-wrap items-center'>
        <div class='w-2/5'>
            <p class='text-xl text-primary mb-2'>Tên ứng dụng</p>
            <h2
                class='w-full text-4xl font-bold text-primary title-font mb-2'
            >ỨNG DỤNG GỢI Ý MÔN HỌC</h2>
            <p class='text-black font-normal text-xl mb-6'>Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Deserunt debitis in
                reiciendis fugit necessitatibus temporibus itaque quisquam eius
                neque inventore, consequatur, dignissimos sint! Exercitationem
                in iusto vel aliquid deleniti eius.</p>
            <button
                class='h-[43] text-primary flex items-center border-solid border-2 border-primary py-2 px-8 focus:outline-none rounded-xl text-lg'
            >Gợi ý môn học</button>
        </div>
        <div class='w-3/5 pl-6'>
            <div class='flex md:mt-4 mt-6'>
                <img src='/img/home.png' class='object-contain' />
            </div>
        </div>
    </div>
</section>

<section class='bg-[#EBF5FF]'>
    <div class='container px-[120] py-20 mx-auto'>
        <div class='flex flex-wrap -m-4'>

            <div class='w-2/3 p-4'>
                <div
                    class='min-h-[277] border border-gray-200 px-12 py-14 rounded-3xl bg-white flex'
                >
                    <div class='w-2/3 flex flex-col'>
                        <h1 class='text-4xl font-bold text-black'>LET’S GET
                            STARTED</h1>
                        <p class='text-black font-normal text-xl mb-6'>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                    </div>
                    <div class='w-1/3 flex items-center'>
                        <img src='/img/started.png' />
                    </div>
                </div>
            </div>
            <div class='w-1/3 p-4'>
                <div
                    class='min-h-[277] border border-gray-200 p-6 rounded-3xl bg-white'
                >
                    <img
                        src='/img/light-icon.png'
                        class='w-[90] h-[90] p-4 rounded-2xl bg-[#C5FEFB] mb-[10]'
                    />
                    <h2 class='text-xl font-semibold mb-[10]'>Gợi ý môn học</h2>
                    <p class='leading-relaxed text-base'>Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                </div>
            </div>
            <div class='w-1/3 p-4'>
                <div
                    class='min-h-[277] border border-gray-200 p-6 rounded-3xl bg-white'
                >
                    <img
                        src='/img/deployment-icon.png'
                        class='w-[90] h-[90] p-4 rounded-2xl bg-[#DDC3FF] mb-[10]'
                    />
                    <h2 class='text-xl font-semibold mb-[10]'>Đánh giá tâm lý</h2>
                    <p class='leading-relaxed text-base'>Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                </div>
            </div>
            <div class='w-1/3 p-4'>
                <div
                    class='min-h-[277] border border-gray-200 p-6 rounded-3xl bg-white'
                >
                    <img
                        src='/img/list-icon.png'
                        class='w-[90] h-[90] p-4 rounded-2xl bg-[#FFD4F1] mb-[10]'
                    />
                    <h2 class='text-xl font-semibold mb-[10]'>Danh sách môn mở</h2>
                    <p class='leading-relaxed text-base'>Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                </div>
            </div>
            <div class='w-1/3 p-4'>
                <div
                    class='min-h-[277] border border-gray-200 p-6 rounded-3xl bg-white'
                >
                    <img
                        src='/img/policy-icon.png'
                        class='w-[90] h-[90] p-4 rounded-2xl bg-[#FFEAAA] mb-[10]'
                    />
                    <h2 class='text-xl font-semibold mb-[10]'>Quy định Khoa</h2>
                    <p class='leading-relaxed text-base'>Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>